div.content {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left:-250px;	
}

div.chooser {
	height: 100%;
	width: 100%;	
}

div.header {
	width:100%;
	text-align:center;
	font-size: 100px;
	font-family: 'Impact';	
	font-weight: bold;
	height:150px;
}

div.arrow {
	height: 60px;
	width: 50px;
	position:absolute;	
	top:150px;
	padding-top:70px;
	padding-bottom:70px;
	font-size:50px;
	font-family: 'Impact';
	font-weight:bold;
}
div.arrow a {
	color:black;
	text-decoration:underline overline;
}

div.arrow a:hover {
	color:black;
	text-decoration:none;
	
}


div#leftarrow {
	left:0px;
}
	
div#rightarrow {
	right:0px;
	text-align:right;
}

div.slideable{
	width:100%;
	text-align:center;
}

div.slideable table{
	width:100%;
	text-align:center;
}

div.detail {
	position:absolute;
	top: 360px;
	width:482px;
	height: 300px;
	border-width: 4px;
	border-color: black;
	border-style: solid;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	text-align:center;
	padding: 5px;
	font-size: 20px;
	font-family: 'Impact';
}

div.grid {
	position:absolute;
	left: 50px;
	width:400px;	
	height:200px;
}
	
div#slideable {
	width:400px;
	height:180px;
	top:50%;
	margin-top:-90px;
	text-align:center;
	position:absolute;
}


div#slideable table {
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	text-align:left;
}

div#slideable table td {
	width: 50px;
	height: 50px;
	font-family: 'Impact';
	font-size: 12px;
	text-align:center;
	cursor: pointer;
}

div.name {
	width: 50px;
	height: 40px;
	margin-top: 10px;
	overflow: hidden;
}

div.login {
	position: absolute;
	height: 22px;
	top:50%;
	left:50%;
	margin-left:-33px;
	margin-top:-11px;
	width: 66px;
}

div.details-droppable {
	background-color: #CCCCCC;	
}

img.selected {
	opacity:0.2;filter:alpha(opacity=20);
	width: 44px;
	height: 44px;
}

div.selected {
	border: solid black 3px;
}