div.content {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left:-250px;	
}

div.header {
	width:100%;
	text-align:center;
	font-size: 100px;
	font-family: 'Impact';	
	font-weight: bold;
	height:150px;
}

div.arrow {
	height: 60px;
	width: 50px;
	position:absolute;	
	top:150px;
	padding-top:70px;
	padding-bottom:70px;
	font-size:50px;
	font-family: 'Impact';
	font-weight:bold;
}
div.arrow a {
	color:black;
	text-decoration:underline overline;
}

div.arrow a:hover {
	color:black;
	text-decoration:none;
	
}



div#leftarrow {
	left:0px;
}
	
div#rightarrow {
	right:0px;
}

div.grid {
	text-align: center;
	width: 300px;
	height: 200px;
	position:absolute;
	left: 50px;
}

div.slideable{
	width:100%;
	text-align:center;
}

div.slideable table{
	width:100%;
	text-align:center;
}

div.detail {
	position:absolute;
	top: 350px;
	width:100%;
}

div.grid {
	width:400px;	
	height:200px;
	overflow:hidden;
}
	
div#slideable {
	width:400px;
	height:180px;
	top:50%;
	margin-top:-90px;
	text-align:center;
	position:absolute;
}


div#slideable table {
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	text-align:left;
}

div#slideable table td {
	width: 50px;
	height: 50px;
	font-family: 'Impact';
	font-size: 12px;
	text-align:center;
	cursor: pointer;
}

div.name {
	width: 50px;
	height: 40px;
	margin-top: 10px;
	overflow: hidden;
}